baseSubBgColor = #678678
body
  background-color baseSubBgColor

form
  input > a
    border 1px solid

.bkt
  .mnu
    &.foo
      .__left
        .__btn
          border 1px solid grey;
          ^[-1]:hover
            color green

